*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.banner {
    background: url(../img/background/1.png) no-repeat center center;
    background-size:cover;
    height: 80vh;
    color: #fff;
 }
/* warna */

.warna1 {
    background-color:#61481C ;
}

.warna2 {
    background-color: #A47E3B;
}

.warna3 {
    background-color:#BF9742 ;
}

.warna4 {
    background-color:#E6B325 ;
}
.warna5 {
    background-color: #000033;
}
/* kategori */

.produck {
    height: 250px;
    border-radius: 5px;
    
}

.kategori-makanan1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../img/produck/serabi.jpg);
    background-size: cover;
    background-position: center;
}
.kategori-makanan2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../img/produck/minuman.jpg);
    background-size: cover;
    background-position: center;
    
}
.kategori-makanan3 {
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../img/produck/combro.jpg);
    background-size: cover;
    background-position: center;
}

.text-kategori a {
    text-decoration: none;
    color: white;
}

.login a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    
 }

.text-harga {
    font-size: 23px;
}

.image-produk img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.my-element {
    margin-left: 20px;
}
/* 
.skill-image{
border-radius:10px ;
position: relative;
overflow: hidden;
border-radius: 10px;
display: block;
transition: 0.5s;
margin:80px 30px ;
} */

/* font */
.container h1{
    font-family: 'Lobster', cursive;
    font-size: 100px;
}

.text-banner h2{
    font-family: 'Dancing Script', cursive;
}